[Unit]
Description=Open Scoring Server
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/vagrant/configs/openscoring-start.sh
ExecStop=/vagrant/configs/openscoring-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
